.expense-container {
  width: 60%;
  margin: auto;
  text-align: center;
  background: rgb(197, 232, 102);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.summary {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

.income {
  color: green;
  font-weight: bold;
}

.expense {
  color: red;
  font-weight: bold;
}

.desc {
  width: calc(50% - 10px);
  padding: 10px;
  margin: 5px;
}
.amount{
  width: 30%;
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  background: green;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background: darkgreen;
}

.transactions {
  list-style: none;
  padding: 0;
}

.transactions li {
  background: #333;
  margin: 5px 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

.transactions button {
  background: red;
  border: none;
  cursor: pointer;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #111;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100vw;
}
.card-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.card {
   background: linear-gradient(45deg, #ff007f, #ff7f00, #00ff7f, #007fff, #7f00ff);
  background-size: 300% 300%;
  animation: gradient-animation 10s ease infinite;
  border-radius: 15px;
  padding: 30px;
  text-align: center;
  color: white;
  width: 80%;
  max-width: 500px;
}

.card h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.card h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.card-summary {
  display: flex;
  justify-content: space-between;
}

.card-income {
  color: green;
}

.card-expense {
  color: red;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
